# Base requirements for running the Coin Detection Web App
flask>=2.0.0
opencv-python>=4.1.2
torch>=1.7.0
torchvision>=0.8.1
numpy>=1.18.5
PyYAML>=5.3.1
scipy>=1.4.1
tqdm>=4.41.0
matplotlib>=3.2.2
pandas>=1.1.4
seaborn>=0.11.0
Pillow>=7.1.2
coremltools>=4.1
onnx>=1.9.0
scikit-learn>=0.24.1
